<ion-header>
  <ion-toolbar color="wind">

    <ion-buttons>
      <ion-button slot="start">
        <ion-menu-button menu="adminMenu"></ion-menu-button>
      </ion-button>

      <ion-title>About App</ion-title>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="flower">
  <ion-card color="wind">
    <ion-item color="wind">
      <ion-img src="https://pbs.twimg.com/media/EkeolnTVkAEjT7d?format=jpg&name=small"></ion-img>
    </ion-item>
    <ion-card-title style="padding-left: 40%">
        <h1>Titania</h1>
    </ion-card-title>
    <ion-card-subtitle style="padding-left: 35%">
        <h2>20822 - AL</h2>
    </ion-card-subtitle>
    <ion-item color="wind">
      Project dikerjakan sendiri, dibantu Fanny, Dinda, Samuel, Azura. tidak menggunakan library luar, hanya menggunakan modul mingguan dan video pak wawo.
      STAN MAMAMOO.
    </ion-item>
  </ion-card>
</ion-content>
